<div class="mt-4">
    <h3>ĐĂNG KHÓA HỌC</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-book"></i></span>
                </div>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khóa học">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-align-left"></i></span>
                </div>
                <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả khóa học">
            </div>
        </div>
        <div class="form-group">
            <label for="videoId">VideoID</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-video"></i></span>
                </div>
                <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập ID của video">
            </div>
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-chart-line"></i></span>
                </div>
                <input type="text" class="form-control" id="level" name="level" placeholder="Nhập trình độ của khóa học">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Đăng khóa học</button>
    </form>
</div>

<!-- Thêm Font Awesome để sử dụng icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">